.App {
  width: 90%;
  margin: 0px auto;
  background-color: #282c34;
  padding: 20px;
  margin-top: 20px;
}

/* Header */

.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.header .left-nav h2{
  font-size: 25px;
  color: #fff;
}
.header .left-nav h5{
  font-size: 15px;
  color: #4e94da;
}

.header .right-nav ul{
  display: flex;

}

.header .right-nav ul li{
  margin-left: 10px;
}

.header .right-nav ul li a{
  color: #fff;
  font-size: 14px;
 
 }

 .header .right-nav ul li:nth-child(2) a{
  color: rgb(114, 108, 108);
 
 }

 /* Add Todo Form */
 .addtodo-container{
  padding: 10px 0px;
}

.addtodo-container input{
  width: 60vw;
  font-size: 13px;
  padding: 10px;
  border: none;
  outline: none;
}

.addtodo-container button{
  width: 100px;
  font-size: 13px;
  padding: 10px;
  border: none;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
  background-color: #4e94da;
  color: #fff;
  font-weight: bold;
}

/* Todos Lists */
.todos-container{
  padding: 15px 0px;
}

.todos-container hr{
  height: 2px;
  background-color: rgb(197, 195, 195);
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.todo-container{
  margin: 30px 0px;
}
.todos-container .todo{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: center;
}

.todo div{
  display: flex;
  flex: 1;
  align-items: center;
}

.todo div p{
  margin-left: 10px;
  color: rgb(218, 214, 214);
}

.done-icon{
  color: #fff;
  background-color: #282c34;
  cursor: pointer;
}
.edit-icon{
  color: rgb(28, 219, 219);
  background-color: #283429;
  cursor: pointer;
}
.trash-icon{
  color: crimson;
  cursor: pointer;
  margin-left: 15px;
}

 /* Media Query */
@media screen and (min-width: 900px) {
  .App{
    width: 900px;
    padding: 40px;
  }
  .header .right-nav ul li{
    margin-left: 30px;
  }
  .addtodo-container input{
    width: 400px;
  }
}
